.vertical-counter-group {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adjusts spacing between each counter */
}

.dropdown-item.o_menu_item:has(.oi.oi-archive) {
    display: none;
}