apiVersion: v1
kind: Service
metadata:
  name: admin
spec:
  type: NodePort
  ports:
  - port: 3000
  selector:
    app: admin
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  ports:
  - port: 3000
  selector:
    app: frontend

---
apiVersion: v1
kind: Service
metadata:
  name: apiserver-svc
spec:
  type: NodePort
  selector:
    app: apiserver
  ports:
    - port: 9000



