apiVersion: v1
kind: Service
metadata:
  name: admin
spec:
  type: NodePort
  ports:
  - port: 3000
  selector:
    app: admin
---
apiVersion: v1
kind: Service
metadata:
  name: frontend
spec:
  type: NodePort
  ports:
  - port: 9000
  selector:
    app: frontend


